@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100dvh;
  background-color: black;
  color: #fff;
  text-align: center;
}
